<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaHome</title>
  <link rel="stylesheet" href="styles/dashboard.css">
</head>
<body>

  <div class="form-container">

    <div class="titleHeader">
      <h1>MegaHome<h1>
      <h2>Your Services</h2>
    </div>
    
    <div class="container">
      <div class="box" onclick="location.href='http://megaauth.megagera.com'">
        MegaAuth
      </div>
      <% if (data.permissions && data.permissions.length > 0) { %>
        <% data.permissions.forEach(permission => { %>
          <% if (permission.type == "access" && permission.name == "megagoal") { %>
            <div class="box" onclick="location.href='https://megagoal.megagera.com'">
              MegaGoal
            </div>
          <% } %>
          <% if (permission.type == "access" && permission.name == "megamedia") { %>
            <div class="box" onclick="location.href='https://megamedia.megagera.com'">
              MegaMedia
            </div>
          <% } %>
          <% if (permission.type == "access" && permission.name == "megadocu") { %>
            <div class="box" onclick="location.href='https://megadocu.megagera.com'">
              MegaDocu
            </div>
          <% } %>
        <% }); %>
      <% } else { %>
        <p>No services available.</p>
      <% } %>
    </div>
  </div>
</body>
</html>