/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Main layout */
body {
  background-color: #f0f0f0; /* Slightly gray background */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align admin panel near the top */
  min-height: 100vh;
  padding: 20px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.titleHeader {
  text-align: center;
  height: 12vh;
}

/* Container styling */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  background-color: #ffe5e5; /* Slightly red */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #28a745;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.box:hover {
  transform: scale(1.05);
}